<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript">       
      function sayHello() {
         alert("Hello World")
      };
      function onclick() {
        console.log("submit button clicked");
      };
    </script>
  </head>
  <body>
    <h1>MORE PRACTICE MORE PRETTY</h1>
    <p>Hello world! This is HTML5.</p>
    <div>
      <a href="auth/google">Sign In with Google</a>
      <a href="auth/facebook">Sign In with Facebook</a>
    </div>
    <script type='text/javascript'>
      var elem = document.getElementById('usermail');
      console.log(elem)
    </script>
  </body>
</html>